// For changing background-color on index page
@keyframes fading {
  0%   { background: lighten(pokemon(fire), 5); }
  25%  { background: lighten(pokemon(water), 5); }
  50%  { background: lighten(pokemon(dragon), 5); }
  75%  { background: lighten(pokemon(fighting), 5); }
  100% { background: lighten(pokemon(fire), 5); }
}

// Pokeball animation

// Pokeball animation FOR MOBILE DEVICES (Just cuz)
@keyframes spinning {
    0%   { transform: translateX(-70%); }
    25%  { transform: translateX(75%); }
    50%  { transform: translateX(-70%); }
    75%  { transform: translateX(75%); }
    100% { transform: translateX(-70%); }
}

// Pokeball animation for 700px+
@keyframes wobbling {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(-10deg); }
  10% { transform: rotate(0deg); }
  90% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes back-and-forth {
  0% { transform: translateX(0%); }
  4% { transform: translateX(-12%); }
  10% { transform: translateX(-10%); }
  95% { transform: translateX(0%); }
  99% { transform: translateX(3%); }
  100% { transform: translateX(0%); }
}

@keyframes twitchyX {
  0% { transform: translateX(0%) }
  8% { transform: translateX(-55%) }
  75% { transform: translateX(-50%) }
  90% { transform: translateX(-30%) }
  100% { transform: translateX(0%) }
}

@keyframes jumpy {
  0% { transform: translateY(0%) }
  1% { transform: translateY(0.5%) }
  5% { transform: translateY(-10%) }
  6% { transform: translateY(-11%) }
  7% { transform: translateY(-10%) }
  10% { transform: translateY(0%) }
  100% { transform: translateY(0%) }
}