@font-face {
  font-family: "Aileron-Heavy";
  src: url('../fonts/Aileron-Heavy.otf');
}
@font-face {
  font-family: "Aileron-Bold";
  src: url('../fonts/Aileron-Bold.otf');
}
@font-face {
  font-family: "Aileron-Regular";
  src: url('../fonts/Aileron-Regular.otf');
}
@font-face {
  font-family: "Aileron-UltraLight";
  src: url('../fonts/Aileron-UltraLight.otf');
}

@import url(http://fonts.googleapis.com/css?family=Lora);

$base-font-size: 16px;

@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

%base--type {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%typeface {
  &__aileron--heavy {
    @extend %base--type;
    font-family: "Aileron-Heavy", sans-serif;
    line-height: 1;
  }
  &__aileron--bold {
    @extend %base--type;
    font-family: "Aileron-Bold", sans-serif;
    line-height: 1;
  }
  &__aileron--regular {
    @extend %base--type;
    font-family: "Aileron-Regular", sans-serif;
    line-height: 1;
  }
  &__aileron--ultra-light {
    @extend %base--type;
    font-family: "Aileron-UltraLight", sans-serif;
    line-height: 1;
  }
  
  &__lora {
    @extend %base--type;
    font-weight: 400;
    font-family: 'Lora', serif;
    line-height: 1;
  }
}