@font-face {
  font-family: "Aileron-Black";
  src: url('../fonts/Aileron-Black.otf');
}
@font-face {
  font-family: "Aileron-Bold";
  src: url('../fonts/Aileron-Bold.otf');
}
@font-face {
  font-family: "Aileron-Regular";
  src: url('../fonts/Aileron-Regular.otf');
}

@import url(http://fonts.googleapis.com/css?family=Lora|Fjalla+One);

$base-font-size: 16px;

@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

%base--type {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%typeface {
  &__aileron--black {
    @extend %base--type;
    font-family: "Aileron-Black", sans-serif;
    line-height: 1;
  }
  &__aileron--bold {
    @extend %base--type;
    font-family: "Aileron-Bold", sans-serif;
    line-height: 1;
  }

  &__lora {
    @extend %base--type;
    font-weight: 400;
    font-family: 'Lora', serif;
    line-height: 1;
  }

  &__fjalla {
    @extend %base--type;
    font-weight: 400;
    font-family: 'Fjalla One', sans-serif;
    line-height: 1;
  }
}