@import 'sprite';
@import 'colors';
@import 'layout';
@import 'type';

body {
  @extend %typeface__vagrund;
}

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

$base-font-size: 16px;
@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

.charmander {
  @include sprite($charmander);
}