$generation-1-109: -0px -0px 104px 104px;
$generation-4-402: -0px -104px 104px 104px;
$generation-1-137: -0px -208px 104px 104px;
$generation-1-151: -0px -312px 104px 104px;
$generation-1-19: -0px -416px 104px 104px;
$generation-1-20: -0px -520px 104px 104px;
$generation-1-52: -0px -624px 104px 104px;
$generation-1-53: -0px -728px 104px 104px;
$generation-2-152: -0px -832px 104px 104px;
$generation-2-153: -0px -936px 104px 104px;
$generation-2-154: -0px -1040px 104px 104px;
$generation-2-155: -0px -1144px 104px 104px;
$generation-2-156: -0px -1248px 104px 104px;
$generation-2-157: -0px -1352px 104px 104px;
$generation-2-158: -0px -1456px 104px 104px;
$generation-2-159: -0px -1560px 104px 104px;
$generation-2-160: -0px -1664px 104px 104px;
$generation-2-200: -0px -1768px 104px 104px;
$generation-2-201: -0px -1872px 104px 104px;
$generation-2-233: -0px -1976px 104px 104px;
$generation-2-234: -0px -2080px 104px 104px;
$generation-2-243: -0px -2184px 104px 104px;
$generation-2-244: -0px -2288px 104px 104px;
$generation-2-245: -0px -2392px 104px 104px;
$generation-2-249: -0px -2496px 104px 104px;
$generation-2-250: -0px -2600px 104px 104px;
$generation-2-251: -0px -2704px 104px 104px;
$generation-3-252: -0px -2808px 104px 104px;
$generation-3-253: -0px -2912px 104px 104px;
$generation-3-254: -0px -3016px 104px 104px;
$generation-3-258: -0px -3120px 104px 104px;
$generation-3-259: -0px -3224px 104px 104px;
$generation-3-260: -0px -3328px 104px 104px;
$generation-3-287: -0px -3432px 104px 104px;
$generation-3-288: -0px -3536px 104px 104px;
$generation-3-289: -0px -3640px 104px 104px;
$generation-3-343: -0px -3744px 104px 104px;
$generation-3-344: -0px -3848px 104px 104px;
$generation-3-349: -0px -3952px 104px 104px;
$generation-3-350: -0px -4056px 104px 104px;
$generation-3-351: -0px -4160px 104px 104px;
$generation-3-377: -0px -4264px 104px 104px;
$generation-3-378: -0px -4368px 104px 104px;
$generation-3-379: -0px -4472px 104px 104px;
$generation-3-380: -0px -4576px 104px 104px;
$generation-3-381: -0px -4680px 104px 104px;
$generation-3-382: -0px -4784px 104px 104px;
$generation-3-383: -0px -4888px 104px 104px;
$generation-3-384: -0px -4992px 104px 104px;
$generation-3-385: -0px -5096px 104px 104px;
$generation-3-386: -0px -5200px 104px 104px;
$generation-4-387: -0px -5304px 104px 104px;
$generation-4-388: -0px -5408px 104px 104px;
$generation-4-389: -0px -5512px 104px 104px;
$generation-4-390: -0px -5616px 104px 104px;
$generation-4-391: -0px -5720px 104px 104px;
$generation-4-392: -0px -5824px 104px 104px;
$generation-4-393: -0px -5928px 104px 104px;
$generation-4-394: -0px -6032px 104px 104px;
$generation-4-395: -0px -6136px 104px 104px;
$generation-4-401: -0px -6240px 104px 104px;
$generation-1-110: -0px -6344px 104px 104px;
$generation-4-420: -0px -6448px 104px 104px;
$generation-4-421: -0px -6552px 104px 104px;
$generation-4-427: -0px -6656px 104px 104px;
$generation-4-428: -0px -6760px 104px 104px;
$generation-4-429: -0px -6864px 104px 104px;
$generation-4-431: -0px -6968px 104px 104px;
$generation-4-432: -0px -7072px 104px 104px;
$generation-4-456: -0px -7176px 104px 104px;
$generation-4-457: -0px -7280px 104px 104px;
$generation-4-474: -0px -7384px 104px 104px;
$generation-4-480: -0px -7488px 104px 104px;
$generation-4-481: -0px -7592px 104px 104px;
$generation-4-482: -0px -7696px 104px 104px;
$generation-4-483: -0px -7800px 104px 104px;
$generation-4-484: -0px -7904px 104px 104px;
$generation-4-485: -0px -8008px 104px 104px;
$generation-4-486: -0px -8112px 104px 104px;
$generation-4-487: -0px -8216px 104px 104px;
$generation-4-488: -0px -8320px 104px 104px;
$generation-4-489: -0px -8424px 104px 104px;
$generation-4-490: -0px -8528px 104px 104px;
$generation-4-491: -0px -8632px 104px 104px;
$generation-4-492: -0px -8736px 104px 104px;
$generation-4-493: -0px -8840px 104px 104px;
$generation-5-494: -0px -8944px 104px 104px;
$generation-5-495: -0px -9048px 104px 104px;
$generation-5-496: -0px -9152px 104px 104px;
$generation-5-497: -0px -9256px 104px 104px;
$generation-5-498: -0px -9360px 104px 104px;
$generation-5-499: -0px -9464px 104px 104px;
$generation-5-500: -0px -9568px 104px 104px;
$generation-5-501: -0px -9672px 104px 104px;
$generation-5-502: -0px -9776px 104px 104px;
$generation-5-503: -0px -9880px 104px 104px;
$generation-5-546: -0px -9984px 104px 104px;
$generation-5-547: -0px -10088px 104px 104px;
$generation-5-554: -0px -10192px 104px 104px;
$generation-5-555: -0px -10296px 104px 104px;
$generation-5-562: -0px -10400px 104px 104px;
$generation-5-563: -0px -10504px 104px 104px;
$generation-5-592: -0px -10608px 104px 104px;
$generation-5-593: -0px -10712px 104px 104px;
$generation-5-602: -0px -10816px 104px 104px;
$generation-5-603: -0px -10920px 104px 104px;
$generation-5-604: -0px -11024px 104px 104px;
$generation-5-605: -0px -11128px 104px 104px;
$generation-5-606: -0px -11232px 104px 104px;
$generation-5-626: -0px -11336px 104px 104px;
$generation-5-638: -0px -11440px 104px 104px;
$generation-5-639: -0px -11544px 104px 104px;
$generation-5-640: -0px -11648px 104px 104px;
$generation-5-641: -0px -11752px 104px 104px;
$generation-5-642: -0px -11856px 104px 104px;
$generation-5-643: -0px -11960px 104px 104px;
$generation-5-644: -0px -12064px 104px 104px;
$generation-5-645: -0px -12168px 104px 104px;
$generation-5-646: -0px -12272px 104px 104px;
$generation-5-647: -0px -12376px 104px 104px;
$generation-5-648: -0px -12480px 104px 104px;
$generation-5-649: -0px -12584px 104px 104px;
$generation-6-652: -0px -12688px 135px 114px;
$generation-3-360: -0px -12802px 128px 128px;
$generation-1-75: -0px -12930px 128px 128px;
$generation-1-76: -0px -13058px 128px 128px;
$generation-1-77: -0px -13186px 128px 128px;
$generation-1-78: -0px -13314px 128px 128px;
$generation-1-79: -0px -13442px 128px 128px;
$generation-1-8: -0px -13570px 128px 128px;
$generation-1-80: -0px -13698px 128px 128px;
$generation-1-81: -0px -13826px 128px 128px;
$generation-1-82: -0px -13954px 128px 128px;
$generation-1-83: -0px -14082px 128px 128px;
$generation-1-84: -0px -14210px 128px 128px;
$generation-1-85: -0px -14338px 128px 128px;
$generation-1-86: -0px -14466px 128px 128px;
$generation-1-87: -0px -14594px 128px 128px;
$generation-1-88: -0px -14722px 128px 128px;
$generation-1-89: -0px -14850px 132px 128px;
$generation-1-9: -0px -14978px 128px 128px;
$generation-1-90: -0px -15106px 128px 128px;
$generation-1-91: -0px -15234px 128px 128px;
$generation-1-92: -0px -15362px 128px 128px;
$generation-1-93: -0px -15490px 128px 128px;
$generation-1-94: -0px -15618px 128px 128px;
$generation-1-95: -0px -15746px 128px 128px;
$generation-1-96: -0px -15874px 128px 128px;
$generation-1-97: -0px -16002px 128px 128px;
$generation-1-98: -0px -16130px 128px 128px;
$generation-1-99: -0px -16258px 128px 128px;
$generation-1-107: -0px -16386px 128px 128px;
$generation-1-108: -0px -16514px 128px 128px;
$generation-1-1: -0px -16642px 128px 128px;
$generation-1-11: -0px -16770px 128px 128px;
$generation-1-100: -0px -16898px 128px 128px;
$generation-1-111: -0px -17026px 128px 128px;
$generation-1-112: -0px -17154px 128px 128px;
$generation-1-113: -0px -17282px 128px 128px;
$generation-1-114: -0px -17410px 128px 128px;
$generation-2-161: -0px -17538px 128px 128px;
$generation-2-162: -0px -17666px 128px 128px;
$generation-2-163: -0px -17794px 128px 128px;
$generation-2-164: -0px -17922px 128px 128px;
$generation-2-165: -0px -18050px 128px 128px;
$generation-2-166: -0px -18178px 128px 128px;
$generation-2-167: -0px -18306px 128px 128px;
$generation-2-168: -0px -18434px 128px 128px;
$generation-2-169: -0px -18562px 131px 128px;
$generation-2-170: -0px -18690px 128px 128px;
$generation-2-171: -0px -18818px 128px 128px;
$generation-2-172: -0px -18946px 128px 128px;
$generation-2-173: -0px -19074px 128px 128px;
$generation-2-174: -0px -19202px 128px 128px;
$generation-2-175: -0px -19330px 128px 128px;
$generation-2-176: -0px -19458px 128px 128px;
$generation-2-177: -0px -19586px 128px 128px;
$generation-2-178: -0px -19714px 128px 128px;
$generation-2-179: -0px -19842px 128px 128px;
$generation-2-180: -0px -19970px 128px 128px;
$generation-2-181: -0px -20098px 128px 128px;
$generation-2-182: -0px -20226px 128px 128px;
$generation-2-183: -0px -20354px 128px 128px;
$generation-2-184: -0px -20482px 128px 128px;
$generation-2-185: -0px -20610px 128px 128px;
$generation-2-186: -0px -20738px 128px 128px;
$generation-2-187: -0px -20866px 128px 128px;
$generation-2-188: -0px -20994px 128px 128px;
$generation-2-189: -0px -21122px 128px 128px;
$generation-2-190: -0px -21250px 128px 128px;
$generation-2-191: -0px -21378px 128px 128px;
$generation-2-192: -0px -21506px 128px 128px;
$generation-2-193: -0px -21634px 128px 128px;
$generation-2-194: -0px -21762px 128px 128px;
$generation-2-195: -0px -21890px 128px 128px;
$generation-2-196: -0px -22018px 128px 128px;
$generation-2-197: -0px -22146px 128px 128px;
$generation-2-198: -0px -22274px 128px 128px;
$generation-2-199: -0px -22402px 128px 128px;
$generation-1-115: -0px -22530px 128px 128px;
$generation-1-116: -0px -22658px 128px 128px;
$generation-2-202: -0px -22786px 128px 128px;
$generation-2-203: -0px -22914px 128px 128px;
$generation-2-204: -0px -23042px 128px 128px;
$generation-2-205: -0px -23170px 128px 128px;
$generation-2-206: -0px -23298px 128px 128px;
$generation-2-207: -0px -23426px 128px 128px;
$generation-2-208: -0px -23554px 128px 128px;
$generation-2-209: -0px -23682px 128px 128px;
$generation-2-210: -0px -23810px 128px 128px;
$generation-2-211: -0px -23938px 128px 128px;
$generation-2-212: -0px -24066px 128px 128px;
$generation-2-213: -0px -24194px 128px 128px;
$generation-2-214: -0px -24322px 128px 128px;
$generation-2-215: -0px -24450px 128px 128px;
$generation-2-216: -0px -24578px 128px 128px;
$generation-2-217: -0px -24706px 128px 128px;
$generation-2-218: -0px -24834px 128px 128px;
$generation-2-219: -0px -24962px 128px 128px;
$generation-2-220: -0px -25090px 128px 128px;
$generation-2-221: -0px -25218px 128px 128px;
$generation-2-222: -0px -25346px 128px 128px;
$generation-2-223: -0px -25474px 128px 128px;
$generation-2-224: -0px -25602px 128px 128px;
$generation-2-225: -0px -25730px 128px 128px;
$generation-2-226: -0px -25858px 137px 128px;
$generation-2-227: -0px -25986px 128px 128px;
$generation-2-228: -0px -26114px 128px 128px;
$generation-2-229: -0px -26242px 128px 128px;
$generation-2-230: -0px -26370px 128px 128px;
$generation-2-231: -0px -26498px 128px 128px;
$generation-2-232: -0px -26626px 128px 128px;
$generation-1-117: -0px -26754px 128px 128px;
$generation-1-118: -0px -26882px 128px 128px;
$generation-2-235: -0px -27010px 128px 128px;
$generation-2-236: -0px -27138px 128px 128px;
$generation-2-237: -0px -27266px 128px 128px;
$generation-2-238: -0px -27394px 128px 128px;
$generation-2-239: -0px -27522px 128px 128px;
$generation-2-240: -0px -27650px 128px 128px;
$generation-2-241: -0px -27778px 128px 128px;
$generation-2-242: -0px -27906px 128px 128px;
$generation-1-119: -0px -28034px 128px 128px;
$generation-1-12: -0px -28162px 128px 128px;
$generation-1-120: -0px -28290px 128px 128px;
$generation-2-246: -0px -28418px 128px 128px;
$generation-2-247: -0px -28546px 128px 128px;
$generation-2-248: -0px -28674px 128px 128px;
$generation-1-121: -0px -28802px 128px 128px;
$generation-1-122: -0px -28930px 128px 128px;
$generation-1-123: -0px -29058px 128px 128px;
$generation-1-124: -0px -29186px 128px 128px;
$generation-1-125: -0px -29314px 128px 128px;
$generation-1-126: -0px -29442px 128px 128px;
$generation-3-255: -0px -29570px 128px 128px;
$generation-3-256: -0px -29698px 128px 128px;
$generation-3-257: -0px -29826px 128px 128px;
$generation-1-127: -0px -29954px 128px 128px;
$generation-1-128: -0px -30082px 128px 128px;
$generation-1-129: -0px -30210px 128px 128px;
$generation-3-261: -0px -30338px 128px 128px;
$generation-3-262: -0px -30466px 128px 128px;
$generation-3-263: -0px -30594px 128px 128px;
$generation-3-264: -0px -30722px 128px 128px;
$generation-3-265: -0px -30850px 128px 128px;
$generation-3-266: -0px -30978px 128px 128px;
$generation-3-267: -0px -31106px 128px 128px;
$generation-3-268: -0px -31234px 128px 128px;
$generation-3-269: -0px -31362px 128px 128px;
$generation-3-270: -0px -31490px 128px 128px;
$generation-3-271: -0px -31618px 128px 128px;
$generation-3-272: -0px -31746px 128px 128px;
$generation-3-273: -0px -31874px 128px 128px;
$generation-3-274: -0px -32002px 128px 128px;
$generation-3-275: -0px -32130px 163px 128px;
$generation-3-276: -0px -32258px 128px 128px;
$generation-3-277: -0px -32386px 183px 128px;
$generation-3-278: -0px -32514px 144px 128px;
$generation-3-279: -0px -32642px 128px 128px;
$generation-3-280: -0px -32770px 128px 128px;
$generation-3-281: -0px -32898px 128px 128px;
$generation-3-282: -0px -33026px 128px 128px;
$generation-3-283: -0px -33154px 128px 128px;
$generation-3-284: -0px -33282px 128px 128px;
$generation-3-285: -0px -33410px 128px 128px;
$generation-3-286: -0px -33538px 128px 128px;
$generation-1-13: -0px -33666px 128px 128px;
$generation-1-130: -0px -33794px 128px 128px;
$generation-1-131: -0px -33922px 128px 128px;
$generation-3-290: -0px -34050px 128px 128px;
$generation-3-291: -0px -34178px 128px 128px;
$generation-3-292: -0px -34306px 128px 128px;
$generation-3-293: -0px -34434px 128px 128px;
$generation-3-294: -0px -34562px 128px 128px;
$generation-3-295: -0px -34690px 128px 128px;
$generation-3-296: -0px -34818px 128px 128px;
$generation-3-297: -0px -34946px 128px 128px;
$generation-3-298: -0px -35074px 128px 128px;
$generation-3-299: -0px -35202px 128px 128px;
$generation-3-300: -0px -35330px 128px 128px;
$generation-3-301: -0px -35458px 128px 128px;
$generation-3-302: -0px -35586px 128px 128px;
$generation-3-303: -0px -35714px 128px 128px;
$generation-3-304: -0px -35842px 128px 128px;
$generation-3-305: -0px -35970px 128px 128px;
$generation-3-306: -0px -36098px 128px 128px;
$generation-3-307: -0px -36226px 128px 128px;
$generation-3-308: -0px -36354px 128px 128px;
$generation-3-309: -0px -36482px 128px 128px;
$generation-3-310: -0px -36610px 128px 128px;
$generation-3-311: -0px -36738px 128px 128px;
$generation-3-312: -0px -36866px 128px 128px;
$generation-3-313: -0px -36994px 128px 128px;
$generation-3-314: -0px -37122px 128px 128px;
$generation-3-315: -0px -37250px 128px 128px;
$generation-3-316: -0px -37378px 128px 128px;
$generation-3-317: -0px -37506px 128px 128px;
$generation-3-318: -0px -37634px 128px 128px;
$generation-3-319: -0px -37762px 128px 128px;
$generation-3-320: -0px -37890px 128px 128px;
$generation-3-321: -0px -38018px 164px 128px;
$generation-3-322: -0px -38146px 128px 128px;
$generation-3-323: -0px -38274px 128px 128px;
$generation-3-324: -0px -38402px 128px 128px;
$generation-3-325: -0px -38530px 128px 128px;
$generation-3-326: -0px -38658px 128px 128px;
$generation-3-327: -0px -38786px 128px 128px;
$generation-3-328: -0px -38914px 128px 128px;
$generation-3-329: -0px -39042px 132px 128px;
$generation-3-330: -0px -39170px 137px 128px;
$generation-3-331: -0px -39298px 128px 128px;
$generation-3-332: -0px -39426px 128px 128px;
$generation-3-333: -0px -39554px 128px 128px;
$generation-3-334: -0px -39682px 159px 128px;
$generation-3-335: -0px -39810px 128px 128px;
$generation-3-336: -0px -39938px 128px 128px;
$generation-3-337: -0px -40066px 128px 128px;
$generation-3-338: -0px -40194px 128px 128px;
$generation-3-339: -0px -40322px 128px 128px;
$generation-3-340: -0px -40450px 128px 128px;
$generation-3-341: -0px -40578px 128px 128px;
$generation-3-342: -0px -40706px 128px 128px;
$generation-1-132: -0px -40834px 128px 128px;
$generation-1-133: -0px -40962px 128px 128px;
$generation-3-345: -0px -41090px 128px 128px;
$generation-3-346: -0px -41218px 128px 128px;
$generation-3-347: -0px -41346px 128px 128px;
$generation-3-348: -0px -41474px 128px 128px;
$generation-1-134: -0px -41602px 128px 128px;
$generation-1-135: -0px -41730px 128px 128px;
$generation-1-136: -0px -41858px 128px 128px;
$generation-3-352: -0px -41986px 128px 128px;
$generation-3-353: -0px -42114px 128px 128px;
$generation-3-354: -0px -42242px 128px 128px;
$generation-3-355: -0px -42370px 128px 128px;
$generation-3-356: -0px -42498px 128px 128px;
$generation-3-357: -0px -42626px 206px 128px;
$generation-3-358: -0px -42754px 128px 128px;
$generation-3-359: -0px -42882px 128px 128px;
$generation-1-10: -0px -43010px 128px 128px;
$generation-3-361: -0px -43138px 128px 128px;
$generation-3-362: -0px -43266px 128px 128px;
$generation-3-363: -0px -43394px 128px 128px;
$generation-3-364: -0px -43522px 128px 128px;
$generation-3-365: -0px -43650px 128px 128px;
$generation-3-366: -0px -43778px 128px 128px;
$generation-3-367: -0px -43906px 128px 128px;
$generation-3-368: -0px -44034px 128px 128px;
$generation-3-369: -0px -44162px 128px 128px;
$generation-3-370: -0px -44290px 128px 128px;
$generation-3-371: -0px -44418px 128px 128px;
$generation-3-372: -0px -44546px 128px 128px;
$generation-3-373: -0px -44674px 151px 128px;
$generation-3-374: -0px -44802px 128px 128px;
$generation-3-375: -0px -44930px 128px 128px;
$generation-3-376: -0px -45058px 163px 128px;
$generation-1-101: -0px -45186px 128px 128px;
$generation-1-138: -0px -45314px 128px 128px;
$generation-1-139: -0px -45442px 128px 128px;
$generation-1-14: -0px -45570px 128px 128px;
$generation-1-140: -0px -45698px 128px 128px;
$generation-1-141: -0px -45826px 128px 128px;
$generation-1-142: -0px -45954px 179px 128px;
$generation-1-143: -0px -46082px 128px 128px;
$generation-1-144: -0px -46210px 157px 128px;
$generation-1-145: -0px -46338px 152px 128px;
$generation-1-146: -0px -46466px 183px 128px;
$generation-1-147: -0px -46594px 128px 128px;
$generation-1-148: -0px -46722px 128px 128px;
$generation-1-149: -0px -46850px 128px 128px;
$generation-1-15: -0px -46978px 128px 128px;
$generation-1-150: -0px -47106px 128px 128px;
$generation-1-102: -0px -47234px 128px 128px;
$generation-1-16: -0px -47362px 128px 128px;
$generation-1-17: -0px -47490px 128px 128px;
$generation-4-396: -0px -47618px 128px 128px;
$generation-4-397: -0px -47746px 137px 128px;
$generation-4-398: -0px -47874px 200px 128px;
$generation-4-399: -0px -48002px 128px 128px;
$generation-4-400: -0px -48130px 128px 128px;
$generation-1-18: -0px -48258px 128px 128px;
$generation-1-103: -0px -48386px 144px 128px;
$generation-4-403: -0px -48514px 128px 128px;
$generation-4-404: -0px -48642px 128px 128px;
$generation-4-405: -0px -48770px 128px 128px;
$generation-4-406: -0px -48898px 128px 128px;
$generation-4-407: -0px -49026px 128px 128px;
$generation-4-408: -0px -49154px 128px 128px;
$generation-4-409: -0px -49282px 128px 128px;
$generation-4-410: -0px -49410px 128px 128px;
$generation-4-411: -0px -49538px 128px 128px;
$generation-4-412: -0px -49666px 128px 128px;
$generation-4-413: -0px -49794px 128px 128px;
$generation-4-414: -0px -49922px 150px 128px;
$generation-4-415: -0px -50050px 128px 128px;
$generation-4-416: -0px -50178px 128px 128px;
$generation-4-417: -0px -50306px 128px 128px;
$generation-4-418: -0px -50434px 128px 128px;
$generation-4-419: -0px -50562px 128px 128px;
$generation-1-2: -0px -50690px 128px 128px;
$generation-1-104: -0px -50818px 128px 128px;
$generation-4-422: -0px -50946px 128px 128px;
$generation-4-423: -0px -51074px 128px 128px;
$generation-4-424: -0px -51202px 128px 128px;
$generation-4-425: -0px -51330px 128px 128px;
$generation-4-426: -0px -51458px 128px 128px;
$generation-1-21: -0px -51586px 128px 128px;
$generation-1-22: -0px -51714px 150px 128px;
$generation-1-23: -0px -51842px 128px 128px;
$generation-4-430: -0px -51970px 167px 128px;
$generation-1-24: -0px -52098px 128px 128px;
$generation-1-25: -0px -52226px 128px 128px;
$generation-4-433: -0px -52354px 128px 128px;
$generation-4-434: -0px -52482px 128px 128px;
$generation-4-435: -0px -52610px 128px 128px;
$generation-4-436: -0px -52738px 128px 128px;
$generation-4-437: -0px -52866px 128px 128px;
$generation-4-438: -0px -52994px 128px 128px;
$generation-4-439: -0px -53122px 128px 128px;
$generation-4-440: -0px -53250px 128px 128px;
$generation-4-441: -0px -53378px 128px 128px;
$generation-4-442: -0px -53506px 128px 128px;
$generation-4-443: -0px -53634px 128px 128px;
$generation-4-444: -0px -53762px 128px 128px;
$generation-4-445: -0px -53890px 128px 128px;
$generation-4-446: -0px -54018px 128px 128px;
$generation-4-447: -0px -54146px 128px 128px;
$generation-4-448: -0px -54274px 128px 128px;
$generation-4-449: -0px -54402px 128px 128px;
$generation-4-450: -0px -54530px 128px 128px;
$generation-4-451: -0px -54658px 128px 128px;
$generation-4-452: -0px -54786px 145px 128px;
$generation-4-453: -0px -54914px 128px 128px;
$generation-4-454: -0px -55042px 128px 128px;
$generation-4-455: -0px -55170px 128px 128px;
$generation-1-26: -0px -55298px 128px 128px;
$generation-1-27: -0px -55426px 128px 128px;
$generation-4-458: -0px -55554px 128px 128px;
$generation-4-459: -0px -55682px 128px 128px;
$generation-4-460: -0px -55810px 145px 128px;
$generation-4-461: -0px -55938px 128px 128px;
$generation-4-462: -0px -56066px 128px 128px;
$generation-4-463: -0px -56194px 128px 128px;
$generation-4-464: -0px -56322px 128px 128px;
$generation-4-465: -0px -56450px 155px 128px;
$generation-4-466: -0px -56578px 128px 128px;
$generation-4-467: -0px -56706px 128px 128px;
$generation-4-468: -0px -56834px 128px 128px;
$generation-4-469: -0px -56962px 155px 128px;
$generation-4-470: -0px -57090px 128px 128px;
$generation-4-471: -0px -57218px 128px 128px;
$generation-4-472: -0px -57346px 128px 128px;
$generation-4-473: -0px -57474px 128px 128px;
$generation-1-28: -0px -57602px 128px 128px;
$generation-4-475: -0px -57730px 128px 128px;
$generation-4-476: -0px -57858px 128px 128px;
$generation-4-477: -0px -57986px 128px 128px;
$generation-4-478: -0px -58114px 128px 128px;
$generation-4-479: -0px -58242px 128px 128px;
$generation-1-29: -0px -58370px 128px 128px;
$generation-1-3: -0px -58498px 128px 128px;
$generation-1-30: -0px -58626px 128px 128px;
$generation-1-31: -0px -58754px 128px 128px;
$generation-1-32: -0px -58882px 128px 128px;
$generation-1-33: -0px -59010px 128px 128px;
$generation-1-34: -0px -59138px 128px 128px;
$generation-1-35: -0px -59266px 128px 128px;
$generation-1-36: -0px -59394px 128px 128px;
$generation-1-37: -0px -59522px 128px 128px;
$generation-1-38: -0px -59650px 128px 128px;
$generation-1-39: -0px -59778px 128px 128px;
$generation-1-4: -0px -59906px 128px 128px;
$generation-1-40: -0px -60034px 128px 128px;
$generation-1-41: -0px -60162px 128px 128px;
$generation-1-42: -0px -60290px 140px 128px;
$generation-1-43: -0px -60418px 128px 128px;
$generation-1-44: -0px -60546px 128px 128px;
$generation-1-45: -0px -60674px 128px 128px;
$generation-1-46: -0px -60802px 128px 128px;
$generation-1-47: -0px -60930px 128px 128px;
$generation-1-48: -0px -61058px 128px 128px;
$generation-1-49: -0px -61186px 136px 128px;
$generation-1-5: -0px -61314px 128px 128px;
$generation-5-504: -0px -61442px 128px 128px;
$generation-5-505: -0px -61570px 128px 128px;
$generation-5-506: -0px -61698px 128px 128px;
$generation-5-507: -0px -61826px 128px 128px;
$generation-5-508: -0px -61954px 128px 128px;
$generation-5-509: -0px -62082px 128px 128px;
$generation-5-510: -0px -62210px 128px 128px;
$generation-5-511: -0px -62338px 128px 128px;
$generation-5-512: -0px -62466px 128px 128px;
$generation-5-513: -0px -62594px 128px 128px;
$generation-5-514: -0px -62722px 128px 128px;
$generation-5-515: -0px -62850px 128px 128px;
$generation-5-516: -0px -62978px 128px 128px;
$generation-5-517: -0px -63106px 128px 128px;
$generation-5-518: -0px -63234px 128px 128px;
$generation-5-519: -0px -63362px 128px 128px;
$generation-5-520: -0px -63490px 136px 128px;
$generation-5-521: -0px -63618px 152px 128px;
$generation-5-522: -0px -63746px 128px 128px;
$generation-5-523: -0px -63874px 128px 128px;
$generation-5-524: -0px -64002px 128px 128px;
$generation-5-525: -0px -64130px 128px 128px;
$generation-5-526: -0px -64258px 128px 128px;
$generation-5-527: -0px -64386px 128px 128px;
$generation-5-528: -0px -64514px 128px 128px;
$generation-5-529: -0px -64642px 128px 128px;
$generation-5-530: -0px -64770px 128px 128px;
$generation-5-531: -0px -64898px 128px 128px;
$generation-5-532: -0px -65026px 128px 128px;
$generation-5-533: -0px -65154px 128px 128px;
$generation-5-534: -0px -65282px 140px 128px;
$generation-5-535: -0px -65410px 128px 128px;
$generation-5-536: -0px -65538px 128px 128px;
$generation-5-537: -0px -65666px 128px 128px;
$generation-5-538: -0px -65794px 128px 128px;
$generation-5-539: -0px -65922px 128px 128px;
$generation-5-540: -0px -66050px 128px 128px;
$generation-5-541: -0px -66178px 128px 128px;
$generation-5-542: -0px -66306px 128px 128px;
$generation-5-543: -0px -66434px 128px 128px;
$generation-5-544: -0px -66562px 128px 128px;
$generation-5-545: -0px -66690px 128px 128px;
$generation-1-50: -0px -66818px 128px 128px;
$generation-1-51: -0px -66946px 128px 128px;
$generation-5-548: -0px -67074px 128px 128px;
$generation-5-549: -0px -67202px 128px 128px;
$generation-5-550: -0px -67330px 128px 128px;
$generation-5-551: -0px -67458px 128px 128px;
$generation-5-552: -0px -67586px 128px 128px;
$generation-5-553: -0px -67714px 128px 128px;
$generation-1-105: -0px -67842px 128px 128px;
$generation-1-106: -0px -67970px 128px 128px;
$generation-5-556: -0px -68098px 128px 128px;
$generation-5-557: -0px -68226px 128px 128px;
$generation-5-558: -0px -68354px 128px 128px;
$generation-5-559: -0px -68482px 128px 128px;
$generation-5-560: -0px -68610px 128px 128px;
$generation-5-561: -0px -68738px 128px 128px;
$generation-1-54: -0px -68866px 128px 128px;
$generation-1-55: -0px -68994px 128px 128px;
$generation-5-564: -0px -69122px 128px 128px;
$generation-5-565: -0px -69250px 128px 128px;
$generation-5-566: -0px -69378px 128px 128px;
$generation-5-567: -0px -69506px 128px 128px;
$generation-5-568: -0px -69634px 128px 128px;
$generation-5-569: -0px -69762px 134px 128px;
$generation-5-570: -0px -69890px 128px 128px;
$generation-5-571: -0px -70018px 128px 128px;
$generation-5-572: -0px -70146px 128px 128px;
$generation-5-573: -0px -70274px 128px 128px;
$generation-5-574: -0px -70402px 128px 128px;
$generation-5-575: -0px -70530px 128px 128px;
$generation-5-576: -0px -70658px 128px 128px;
$generation-5-577: -0px -70786px 128px 128px;
$generation-5-578: -0px -70914px 128px 128px;
$generation-5-579: -0px -71042px 165px 128px;
$generation-5-580: -0px -71170px 128px 128px;
$generation-6-717: -0px -71298px 185px 128px;
$generation-5-582: -0px -71426px 128px 128px;
$generation-5-583: -0px -71554px 128px 128px;
$generation-5-584: -0px -71682px 128px 128px;
$generation-5-585: -0px -71810px 128px 128px;
$generation-5-586: -0px -71938px 128px 128px;
$generation-5-587: -0px -72066px 128px 128px;
$generation-5-588: -0px -72194px 128px 128px;
$generation-5-589: -0px -72322px 128px 128px;
$generation-5-590: -0px -72450px 128px 128px;
$generation-5-591: -0px -72578px 128px 128px;
$generation-1-56: -0px -72706px 128px 128px;
$generation-1-57: -0px -72834px 128px 128px;
$generation-5-594: -0px -72962px 128px 128px;
$generation-5-595: -0px -73090px 128px 128px;
$generation-5-596: -0px -73218px 128px 128px;
$generation-5-597: -0px -73346px 128px 128px;
$generation-5-598: -0px -73474px 148px 128px;
$generation-5-599: -0px -73602px 128px 128px;
$generation-5-600: -0px -73730px 128px 128px;
$generation-5-601: -0px -73858px 128px 128px;
$generation-1-58: -0px -73986px 128px 128px;
$generation-1-59: -0px -74114px 128px 128px;
$generation-1-6: -0px -74242px 145px 128px;
$generation-1-60: -0px -74370px 128px 128px;
$generation-1-61: -0px -74498px 128px 128px;
$generation-5-607: -0px -74626px 128px 128px;
$generation-5-608: -0px -74754px 128px 128px;
$generation-5-609: -0px -74882px 128px 128px;
$generation-5-610: -0px -75010px 128px 128px;
$generation-5-611: -0px -75138px 128px 128px;
$generation-5-612: -0px -75266px 128px 128px;
$generation-5-613: -0px -75394px 128px 128px;
$generation-5-614: -0px -75522px 128px 128px;
$generation-5-615: -0px -75650px 128px 128px;
$generation-5-616: -0px -75778px 128px 128px;
$generation-5-617: -0px -75906px 128px 128px;
$generation-5-618: -0px -76034px 128px 128px;
$generation-5-619: -0px -76162px 128px 128px;
$generation-5-620: -0px -76290px 128px 128px;
$generation-5-621: -0px -76418px 134px 128px;
$generation-5-622: -0px -76546px 128px 128px;
$generation-5-623: -0px -76674px 128px 128px;
$generation-5-624: -0px -76802px 128px 128px;
$generation-5-625: -0px -76930px 128px 128px;
$generation-1-62: -0px -77058px 128px 128px;
$generation-5-627: -0px -77186px 128px 128px;
$generation-5-628: -0px -77314px 183px 128px;
$generation-5-629: -0px -77442px 128px 128px;
$generation-5-630: -0px -77570px 128px 128px;
$generation-5-631: -0px -77698px 128px 128px;
$generation-5-632: -0px -77826px 128px 128px;
$generation-5-633: -0px -77954px 128px 128px;
$generation-5-634: -0px -78082px 128px 128px;
$generation-5-635: -0px -78210px 145px 128px;
$generation-5-636: -0px -78338px 128px 128px;
$generation-5-637: -0px -78466px 143px 128px;
$generation-1-63: -0px -78594px 128px 128px;
$generation-1-64: -0px -78722px 128px 128px;
$generation-1-65: -0px -78850px 128px 128px;
$generation-1-66: -0px -78978px 128px 128px;
$generation-1-67: -0px -79106px 128px 128px;
$generation-1-68: -0px -79234px 128px 128px;
$generation-1-69: -0px -79362px 128px 128px;
$generation-1-7: -0px -79490px 128px 128px;
$generation-1-70: -0px -79618px 128px 128px;
$generation-1-71: -0px -79746px 128px 128px;
$generation-1-72: -0px -79874px 128px 128px;
$generation-1-73: -0px -80002px 128px 128px;
$generation-6-650: -0px -80130px 128px 128px;
$generation-6-651: -0px -80258px 128px 128px;
$generation-1-74: -0px -80386px 128px 128px;
$generation-6-653: -0px -80514px 128px 128px;
$generation-6-654: -0px -80642px 128px 128px;
$generation-6-655: -0px -80770px 128px 128px;
$generation-6-656: -0px -80898px 128px 128px;
$generation-6-657: -0px -81026px 128px 128px;
$generation-6-658: -0px -81154px 150px 128px;
$generation-6-659: -0px -81282px 128px 128px;
$generation-6-660: -0px -81410px 137px 128px;
$generation-6-661: -0px -81538px 128px 128px;
$generation-6-662: -0px -81666px 128px 128px;
$generation-6-663: -0px -81794px 173px 128px;
$generation-6-664: -0px -81922px 128px 128px;
$generation-6-665: -0px -82050px 128px 128px;
$generation-6-666: -0px -82178px 128px 128px;
$generation-6-667: -0px -82306px 128px 128px;
$generation-6-668: -0px -82434px 128px 128px;
$generation-6-669: -0px -82562px 128px 128px;
$generation-6-670: -0px -82690px 128px 128px;
$generation-6-671: -0px -82818px 128px 128px;
$generation-6-672: -0px -82946px 128px 128px;
$generation-6-673: -0px -83074px 128px 128px;
$generation-6-674: -0px -83202px 128px 128px;
$generation-6-675: -0px -83330px 128px 128px;
$generation-6-676: -0px -83458px 128px 128px;
$generation-6-677: -0px -83586px 128px 128px;
$generation-6-678: -0px -83714px 128px 128px;
$generation-6-679: -0px -83842px 128px 128px;
$generation-6-680: -0px -83970px 128px 128px;
$generation-6-681: -0px -84098px 128px 128px;
$generation-6-682: -0px -84226px 128px 128px;
$generation-6-683: -0px -84354px 128px 128px;
$generation-6-684: -0px -84482px 128px 128px;
$generation-6-685: -0px -84610px 128px 128px;
$generation-6-686: -0px -84738px 128px 128px;
$generation-6-687: -0px -84866px 128px 128px;
$generation-6-688: -0px -84994px 128px 128px;
$generation-6-689: -0px -85122px 135px 128px;
$generation-6-690: -0px -85250px 128px 128px;
$generation-6-715: -0px -85378px 130px 128px;
$generation-6-692: -0px -85506px 128px 128px;
$generation-6-693: -0px -85634px 128px 128px;
$generation-6-694: -0px -85762px 128px 128px;
$generation-6-695: -0px -85890px 128px 128px;
$generation-6-696: -0px -86018px 128px 128px;
$generation-6-697: -0px -86146px 128px 128px;
$generation-6-698: -0px -86274px 128px 128px;
$generation-6-714: -0px -86402px 128px 128px;
$generation-6-700: -0px -86530px 128px 128px;
$generation-6-701: -0px -86658px 128px 128px;
$generation-6-702: -0px -86786px 128px 128px;
$generation-6-703: -0px -86914px 128px 128px;
$generation-6-704: -0px -87042px 128px 128px;
$generation-6-705: -0px -87170px 128px 128px;
$generation-6-706: -0px -87298px 128px 128px;
$generation-6-707: -0px -87426px 128px 128px;
$generation-6-708: -0px -87554px 128px 128px;
$generation-6-709: -0px -87682px 128px 128px;
$generation-6-710: -0px -87810px 128px 128px;
$generation-6-711: -0px -87938px 128px 128px;
$generation-6-712: -0px -88066px 128px 128px;
$generation-6-713: -0px -88194px 139px 128px;
$generation-6-691: -0px -88322px 133px 130px;
$generation-6-699: -0px -88452px 128px 138px;
$generation-5-581: -0px -88590px 128px 140px;
$generation-6-716: -0px -88730px 110px 146px;
$generation-6-718: -0px -88876px 136px 148px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
  @return nth($sprite, 3);
}
@function sprite-height($sprite) {
  @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
.icon {
  background-image: url("../images/sprite.png");
}