$marshtomp: -0px -0px 104px 104px;
$zekrom: -0px -104px 104px 104px;
$azelf: -0px -208px 104px 104px;
$baltoy: -0px -312px 104px 104px;
$bayleef: -0px -416px 104px 104px;
$beheeyem: -0px -520px 104px 104px;
$bouffalant: -0px -624px 104px 104px;
$buneary: -0px -728px 104px 104px;
$castform: -0px -832px 104px 104px;
$celebi: -0px -936px 104px 104px;
$cherrim: -0px -1040px 104px 104px;
$cherubi: -0px -1144px 104px 104px;
$yamask: -0px -1248px 104px 104px;
$chikorita: -0px -1352px 104px 104px;
$chimchar: -0px -1456px 104px 104px;
$claydol: -0px -1560px 104px 104px;
$cobalion: -0px -1664px 104px 104px;
$cofagrigus: -0px -1768px 104px 104px;
$cottonee: -0px -1872px 104px 104px;
$cresselia: -0px -1976px 104px 104px;
$croconaw: -0px -2080px 104px 104px;
$cyndaquil: -0px -2184px 104px 104px;
$darkrai: -0px -2288px 104px 104px;
$darmanitan-standard: -0px -2392px 104px 104px;
$darumaka: -0px -2496px 104px 104px;
$deoxys-normal: -0px -2600px 104px 104px;
$dewott: -0px -2704px 104px 104px;
$dialga: -0px -2808px 104px 104px;
$eelektrik: -0px -2912px 104px 104px;
$eelektross: -0px -3016px 104px 104px;
$elgyem: -0px -3120px 104px 104px;
$emboar: -0px -3224px 104px 104px;
$empoleon: -0px -3328px 104px 104px;
$entei: -0px -3432px 104px 104px;
$feebas: -0px -3536px 104px 104px;
$feraligatr: -0px -3640px 104px 104px;
$finneon: -0px -3744px 104px 104px;
$frillish: -0px -3848px 104px 104px;
$genesect: -0px -3952px 104px 104px;
$giratina-altered: -0px -4056px 104px 104px;
$glameow: -0px -4160px 104px 104px;
$grotle: -0px -4264px 104px 104px;
$groudon: -0px -4368px 104px 104px;
$grovyle: -0px -4472px 104px 104px;
$heatran: -0px -4576px 104px 104px;
$ho-oh: -0px -4680px 104px 104px;
$infernape: -0px -4784px 104px 104px;
$jellicent: -0px -4888px 104px 104px;
$jirachi: -0px -4992px 104px 104px;
$keldeo-ordinary: -0px -5096px 104px 104px;
$koffing: -0px -5200px 104px 104px;
$kricketot: -0px -5304px 104px 104px;
$kricketune: -0px -5408px 104px 104px;
$kyogre: -0px -5512px 104px 104px;
$kyurem: -0px -5616px 104px 104px;
$landorus-incarnate: -0px -5720px 104px 104px;
$latias: -0px -5824px 104px 104px;
$latios: -0px -5928px 104px 104px;
$lopunny: -0px -6032px 104px 104px;
$lugia: -0px -6136px 104px 104px;
$lumineon: -0px -6240px 104px 104px;
$manaphy: -0px -6344px 104px 104px;
$arceus: -0px -6448px 104px 104px;
$meganium: -0px -6552px 104px 104px;
$meloetta-aria: -0px -6656px 104px 104px;
$meowth: -0px -6760px 104px 104px;
$mesprit: -0px -6864px 104px 104px;
$mew: -0px -6968px 104px 104px;
$milotic: -0px -7072px 104px 104px;
$misdreavus: -0px -7176px 104px 104px;
$mismagius: -0px -7280px 104px 104px;
$monferno: -0px -7384px 104px 104px;
$mudkip: -0px -7488px 104px 104px;
$oshawott: -0px -7592px 104px 104px;
$palkia: -0px -7696px 104px 104px;
$persian: -0px -7800px 104px 104px;
$phione: -0px -7904px 104px 104px;
$pignite: -0px -8008px 104px 104px;
$piplup: -0px -8112px 104px 104px;
$porygon-z: -0px -8216px 104px 104px;
$porygon: -0px -8320px 104px 104px;
$porygon2: -0px -8424px 104px 104px;
$prinplup: -0px -8528px 104px 104px;
$purugly: -0px -8632px 104px 104px;
$quilava: -0px -8736px 104px 104px;
$raikou: -0px -8840px 104px 104px;
$raticate: -0px -8944px 104px 104px;
$rattata: -0px -9048px 104px 104px;
$rayquaza: -0px -9152px 104px 104px;
$regice: -0px -9256px 104px 104px;
$regigigas: -0px -9360px 104px 104px;
$regirock: -0px -9464px 104px 104px;
$registeel: -0px -9568px 104px 104px;
$reshiram: -0px -9672px 104px 104px;
$samurott: -0px -9776px 104px 104px;
$sceptile: -0px -9880px 104px 104px;
$serperior: -0px -9984px 104px 104px;
$servine: -0px -10088px 104px 104px;
$shaymin-land: -0px -10192px 104px 104px;
$slaking: -0px -10296px 104px 104px;
$slakoth: -0px -10400px 104px 104px;
$snivy: -0px -10504px 104px 104px;
$stantler: -0px -10608px 104px 104px;
$suicune: -0px -10712px 104px 104px;
$swampert: -0px -10816px 104px 104px;
$tepig: -0px -10920px 104px 104px;
$terrakion: -0px -11024px 104px 104px;
$thundurus-incarnate: -0px -11128px 104px 104px;
$tornadus-incarnate: -0px -11232px 104px 104px;
$torterra: -0px -11336px 104px 104px;
$totodile: -0px -11440px 104px 104px;
$treecko: -0px -11544px 104px 104px;
$turtwig: -0px -11648px 104px 104px;
$tynamo: -0px -11752px 104px 104px;
$typhlosion: -0px -11856px 104px 104px;
$unown: -0px -11960px 104px 104px;
$uxie: -0px -12064px 104px 104px;
$victini: -0px -12168px 104px 104px;
$vigoroth: -0px -12272px 104px 104px;
$virizion: -0px -12376px 104px 104px;
$weezing: -0px -12480px 104px 104px;
$whimsicott: -0px -12584px 104px 104px;
$chesnaught: -0px -12688px 135px 114px;
$machop: -0px -12802px 128px 128px;
$cubchoo: -0px -12930px 128px 128px;
$cubone: -0px -13058px 128px 128px;
$ariados: -0px -13186px 128px 128px;
$armaldo: -0px -13314px 128px 128px;
$aromatisse: -0px -13442px 128px 128px;
$aron: -0px -13570px 128px 128px;
$dedenne: -0px -13698px 128px 128px;
$deerling: -0px -13826px 128px 128px;
$deino: -0px -13954px 128px 128px;
$delcatty: -0px -14082px 128px 128px;
$delibird: -0px -14210px 128px 128px;
$delphox: -0px -14338px 128px 128px;
$articuno: -0px -14466px 157px 128px;
$dewgong: -0px -14594px 128px 128px;
$audino: -0px -14722px 128px 128px;
$zweilous: -0px -14850px 128px 128px;
$diggersby: -0px -14978px 137px 128px;
$diglett: -0px -15106px 128px 128px;
$ditto: -0px -15234px 128px 128px;
$dodrio: -0px -15362px 128px 128px;
$doduo: -0px -15490px 128px 128px;
$donphan: -0px -15618px 128px 128px;
$doublade: -0px -15746px 128px 128px;
$zubat: -0px -15874px 128px 128px;
$dragonair: -0px -16002px 128px 128px;
$dragonite: -0px -16130px 128px 128px;
$drapion: -0px -16258px 145px 128px;
$dratini: -0px -16386px 128px 128px;
$drifblim: -0px -16514px 128px 128px;
$drifloon: -0px -16642px 128px 128px;
$drilbur: -0px -16770px 128px 128px;
$drowzee: -0px -16898px 128px 128px;
$druddigon: -0px -17026px 134px 128px;
$ducklett: -0px -17154px 128px 128px;
$dugtrio: -0px -17282px 128px 128px;
$dunsparce: -0px -17410px 128px 128px;
$duosion: -0px -17538px 128px 128px;
$durant: -0px -17666px 128px 128px;
$dusclops: -0px -17794px 128px 128px;
$dusknoir: -0px -17922px 128px 128px;
$duskull: -0px -18050px 128px 128px;
$dustox: -0px -18178px 128px 128px;
$dwebble: -0px -18306px 128px 128px;
$avalugg: -0px -18434px 139px 128px;
$axew: -0px -18562px 128px 128px;
$eevee: -0px -18690px 128px 128px;
$ekans: -0px -18818px 128px 128px;
$electabuzz: -0px -18946px 128px 128px;
$electivire: -0px -19074px 128px 128px;
$electrike: -0px -19202px 128px 128px;
$electrode: -0px -19330px 128px 128px;
$elekid: -0px -19458px 128px 128px;
$absol: -0px -19586px 128px 128px;
$azumarill: -0px -19714px 128px 128px;
$emolga: -0px -19842px 128px 128px;
$azurill: -0px -19970px 128px 128px;
$bagon: -0px -20098px 128px 128px;
$escavalier: -0px -20226px 128px 128px;
$espeon: -0px -20354px 128px 128px;
$espurr: -0px -20482px 128px 128px;
$excadrill: -0px -20610px 128px 128px;
$exeggcute: -0px -20738px 128px 128px;
$exeggutor: -0px -20866px 144px 128px;
$exploud: -0px -20994px 128px 128px;
$farfetchd: -0px -21122px 128px 128px;
$fearow: -0px -21250px 150px 128px;
$accelgor: -0px -21378px 128px 128px;
$fennekin: -0px -21506px 128px 128px;
$banette: -0px -21634px 128px 128px;
$ferroseed: -0px -21762px 128px 128px;
$ferrothorn: -0px -21890px 148px 128px;
$barbaracle: -0px -22018px 135px 128px;
$flaaffy: -0px -22146px 128px 128px;
$flabebe: -0px -22274px 128px 128px;
$flareon: -0px -22402px 128px 128px;
$fletchinder: -0px -22530px 128px 128px;
$fletchling: -0px -22658px 128px 128px;
$floatzel: -0px -22786px 128px 128px;
$floette: -0px -22914px 128px 128px;
$florges: -0px -23042px 128px 128px;
$flygon: -0px -23170px 137px 128px;
$foongus: -0px -23298px 128px 128px;
$forretress: -0px -23426px 128px 128px;
$fraxure: -0px -23554px 128px 128px;
$barboach: -0px -23682px 128px 128px;
$froakie: -0px -23810px 128px 128px;
$frogadier: -0px -23938px 128px 128px;
$froslass: -0px -24066px 128px 128px;
$furfrou: -0px -24194px 128px 128px;
$furret: -0px -24322px 128px 128px;
$gabite: -0px -24450px 128px 128px;
$gallade: -0px -24578px 128px 128px;
$galvantula: -0px -24706px 128px 128px;
$garbodor: -0px -24834px 134px 128px;
$garchomp: -0px -24962px 128px 128px;
$gardevoir: -0px -25090px 128px 128px;
$gastly: -0px -25218px 128px 128px;
$gastrodon: -0px -25346px 128px 128px;
$basculin-red-striped: -0px -25474px 128px 128px;
$gengar: -0px -25602px 128px 128px;
$geodude: -0px -25730px 128px 128px;
$gible: -0px -25858px 128px 128px;
$gigalith: -0px -25986px 128px 128px;
$girafarig: -0px -26114px 128px 128px;
$bastiodon: -0px -26242px 128px 128px;
$glaceon: -0px -26370px 128px 128px;
$glalie: -0px -26498px 128px 128px;
$aegislash: -0px -26626px 128px 128px;
$gligar: -0px -26754px 128px 128px;
$gliscor: -0px -26882px 128px 128px;
$gloom: -0px -27010px 128px 128px;
$gogoat: -0px -27138px 128px 128px;
$golbat: -0px -27266px 140px 128px;
$goldeen: -0px -27394px 128px 128px;
$golduck: -0px -27522px 128px 128px;
$golem: -0px -27650px 128px 128px;
$golett: -0px -27778px 128px 128px;
$golurk: -0px -27906px 128px 128px;
$goodra: -0px -28034px 128px 128px;
$goomy: -0px -28162px 128px 128px;
$gorebyss: -0px -28290px 128px 128px;
$gothita: -0px -28418px 128px 128px;
$gothitelle: -0px -28546px 128px 128px;
$gothorita: -0px -28674px 128px 128px;
$gourgeist-average: -0px -28802px 128px 128px;
$granbull: -0px -28930px 128px 128px;
$graveler: -0px -29058px 128px 128px;
$greninja: -0px -29186px 150px 128px;
$grimer: -0px -29314px 128px 128px;
$beartic: -0px -29442px 128px 128px;
$beautifly: -0px -29570px 128px 128px;
$beedrill: -0px -29698px 128px 128px;
$growlithe: -0px -29826px 128px 128px;
$grumpig: -0px -29954px 128px 128px;
$gulpin: -0px -30082px 128px 128px;
$gurdurr: -0px -30210px 128px 128px;
$gyarados: -0px -30338px 128px 128px;
$happiny: -0px -30466px 128px 128px;
$hariyama: -0px -30594px 128px 128px;
$haunter: -0px -30722px 128px 128px;
$hawlucha: -0px -30850px 128px 128px;
$haxorus: -0px -30978px 128px 128px;
$heatmor: -0px -31106px 128px 128px;
$aerodactyl: -0px -31234px 179px 128px;
$heliolisk: -0px -31362px 128px 128px;
$helioptile: -0px -31490px 128px 128px;
$heracross: -0px -31618px 128px 128px;
$herdier: -0px -31746px 128px 128px;
$hippopotas: -0px -31874px 128px 128px;
$hippowdon: -0px -32002px 128px 128px;
$hitmonchan: -0px -32130px 128px 128px;
$hitmonlee: -0px -32258px 128px 128px;
$hitmontop: -0px -32386px 128px 128px;
$beldum: -0px -32514px 128px 128px;
$honchkrow: -0px -32642px 167px 128px;
$honedge: -0px -32770px 128px 128px;
$hoothoot: -0px -32898px 128px 128px;
$hoppip: -0px -33026px 128px 128px;
$horsea: -0px -33154px 128px 128px;
$houndoom: -0px -33282px 128px 128px;
$houndour: -0px -33410px 128px 128px;
$huntail: -0px -33538px 128px 128px;
$hydreigon: -0px -33666px 145px 128px;
$hypno: -0px -33794px 128px 128px;
$igglybuff: -0px -33922px 128px 128px;
$illumise: -0px -34050px 128px 128px;
$bellossom: -0px -34178px 128px 128px;
$inkay: -0px -34306px 128px 128px;
$ivysaur: -0px -34434px 128px 128px;
$bellsprout: -0px -34562px 128px 128px;
$jigglypuff: -0px -34690px 128px 128px;
$bergmite: -0px -34818px 128px 128px;
$jolteon: -0px -34946px 128px 128px;
$joltik: -0px -35074px 128px 128px;
$jumpluff: -0px -35202px 128px 128px;
$jynx: -0px -35330px 128px 128px;
$kabuto: -0px -35458px 128px 128px;
$kabutops: -0px -35586px 128px 128px;
$kadabra: -0px -35714px 128px 128px;
$kakuna: -0px -35842px 128px 128px;
$kangaskhan: -0px -35970px 128px 128px;
$karrablast: -0px -36098px 128px 128px;
$kecleon: -0px -36226px 128px 128px;
$bibarel: -0px -36354px 128px 128px;
$kingdra: -0px -36482px 128px 128px;
$kingler: -0px -36610px 128px 128px;
$kirlia: -0px -36738px 128px 128px;
$klang: -0px -36866px 128px 128px;
$klefki: -0px -36994px 128px 128px;
$klink: -0px -37122px 128px 128px;
$klinklang: -0px -37250px 128px 128px;
$bidoof: -0px -37378px 128px 128px;
$krabby: -0px -37506px 128px 128px;
$binacle: -0px -37634px 128px 128px;
$bisharp: -0px -37762px 128px 128px;
$krokorok: -0px -37890px 128px 128px;
$krookodile: -0px -38018px 128px 128px;
$blastoise: -0px -38146px 128px 128px;
$blaziken: -0px -38274px 128px 128px;
$lairon: -0px -38402px 128px 128px;
$lampent: -0px -38530px 128px 128px;
$blissey: -0px -38658px 128px 128px;
$lanturn: -0px -38786px 128px 128px;
$lapras: -0px -38914px 128px 128px;
$larvesta: -0px -39042px 128px 128px;
$larvitar: -0px -39170px 128px 128px;
$blitzle: -0px -39298px 128px 128px;
$boldore: -0px -39426px 128px 128px;
$leafeon: -0px -39554px 128px 128px;
$leavanny: -0px -39682px 128px 128px;
$ledian: -0px -39810px 128px 128px;
$ledyba: -0px -39938px 128px 128px;
$lickilicky: -0px -40066px 128px 128px;
$lickitung: -0px -40194px 128px 128px;
$liepard: -0px -40322px 128px 128px;
$lileep: -0px -40450px 128px 128px;
$lilligant: -0px -40578px 128px 128px;
$lillipup: -0px -40706px 128px 128px;
$linoone: -0px -40834px 128px 128px;
$litleo: -0px -40962px 128px 128px;
$litwick: -0px -41090px 128px 128px;
$lombre: -0px -41218px 128px 128px;
$bonsly: -0px -41346px 128px 128px;
$lotad: -0px -41474px 128px 128px;
$loudred: -0px -41602px 128px 128px;
$lucario: -0px -41730px 128px 128px;
$ludicolo: -0px -41858px 128px 128px;
$aggron: -0px -41986px 128px 128px;
$braixen: -0px -42114px 128px 128px;
$lunatone: -0px -42242px 128px 128px;
$luvdisc: -0px -42370px 128px 128px;
$luxio: -0px -42498px 128px 128px;
$luxray: -0px -42626px 128px 128px;
$machamp: -0px -42754px 128px 128px;
$machoke: -0px -42882px 128px 128px;
$abra: -0px -43010px 128px 128px;
$magby: -0px -43138px 128px 128px;
$magcargo: -0px -43266px 128px 128px;
$magikarp: -0px -43394px 128px 128px;
$magmar: -0px -43522px 128px 128px;
$magmortar: -0px -43650px 128px 128px;
$magnemite: -0px -43778px 128px 128px;
$magneton: -0px -43906px 128px 128px;
$magnezone: -0px -44034px 128px 128px;
$makuhita: -0px -44162px 128px 128px;
$malamar: -0px -44290px 128px 128px;
$mamoswine: -0px -44418px 128px 128px;
$braviary: -0px -44546px 183px 128px;
$mandibuzz: -0px -44674px 128px 128px;
$manectric: -0px -44802px 128px 128px;
$mankey: -0px -44930px 128px 128px;
$mantine: -0px -45058px 137px 128px;
$mantyke: -0px -45186px 128px 128px;
$maractus: -0px -45314px 128px 128px;
$mareep: -0px -45442px 128px 128px;
$marill: -0px -45570px 128px 128px;
$marowak: -0px -45698px 128px 128px;
$breloom: -0px -45826px 128px 128px;
$masquerain: -0px -45954px 128px 128px;
$mawile: -0px -46082px 128px 128px;
$medicham: -0px -46210px 128px 128px;
$meditite: -0px -46338px 128px 128px;
$bronzong: -0px -46466px 128px 128px;
$bronzor: -0px -46594px 128px 128px;
$meowstic-male: -0px -46722px 128px 128px;
$budew: -0px -46850px 128px 128px;
$buizel: -0px -46978px 128px 128px;
$metagross: -0px -47106px 163px 128px;
$metang: -0px -47234px 128px 128px;
$metapod: -0px -47362px 128px 128px;
$bulbasaur: -0px -47490px 128px 128px;
$mewtwo: -0px -47618px 128px 128px;
$mienfoo: -0px -47746px 128px 128px;
$mienshao: -0px -47874px 128px 128px;
$mightyena: -0px -48002px 128px 128px;
$aipom: -0px -48130px 128px 128px;
$miltank: -0px -48258px 128px 128px;
$mime-jr: -0px -48386px 128px 128px;
$minccino: -0px -48514px 128px 128px;
$minun: -0px -48642px 128px 128px;
$bunnelby: -0px -48770px 128px 128px;
$burmy: -0px -48898px 128px 128px;
$moltres: -0px -49026px 183px 128px;
$butterfree: -0px -49154px 128px 128px;
$mothim: -0px -49282px 150px 128px;
$mr-mime: -0px -49410px 128px 128px;
$cacnea: -0px -49538px 128px 128px;
$muk: -0px -49666px 132px 128px;
$munchlax: -0px -49794px 128px 128px;
$munna: -0px -49922px 128px 128px;
$murkrow: -0px -50050px 128px 128px;
$musharna: -0px -50178px 128px 128px;
$natu: -0px -50306px 128px 128px;
$nidoking: -0px -50434px 128px 128px;
$nidoqueen: -0px -50562px 128px 128px;
$nidoran-f: -0px -50690px 128px 128px;
$nidoran-m: -0px -50818px 128px 128px;
$nidorina: -0px -50946px 128px 128px;
$nidorino: -0px -51074px 128px 128px;
$nincada: -0px -51202px 128px 128px;
$ninetales: -0px -51330px 128px 128px;
$ninjask: -0px -51458px 128px 128px;
$noctowl: -0px -51586px 128px 128px;
$noibat: -0px -51714px 128px 128px;
$noivern: -0px -51842px 130px 128px;
$nosepass: -0px -51970px 128px 128px;
$numel: -0px -52098px 128px 128px;
$nuzleaf: -0px -52226px 128px 128px;
$octillery: -0px -52354px 128px 128px;
$oddish: -0px -52482px 128px 128px;
$omanyte: -0px -52610px 128px 128px;
$omastar: -0px -52738px 128px 128px;
$onix: -0px -52866px 128px 128px;
$cacturne: -0px -52994px 128px 128px;
$pachirisu: -0px -53122px 128px 128px;
$camerupt: -0px -53250px 128px 128px;
$palpitoad: -0px -53378px 128px 128px;
$pancham: -0px -53506px 128px 128px;
$pangoro: -0px -53634px 128px 128px;
$panpour: -0px -53762px 128px 128px;
$pansage: -0px -53890px 128px 128px;
$pansear: -0px -54018px 128px 128px;
$paras: -0px -54146px 128px 128px;
$parasect: -0px -54274px 128px 128px;
$patrat: -0px -54402px 128px 128px;
$pawniard: -0px -54530px 128px 128px;
$pelipper: -0px -54658px 128px 128px;
$carbink: -0px -54786px 128px 128px;
$petilil: -0px -54914px 128px 128px;
$phanpy: -0px -55042px 128px 128px;
$phantump: -0px -55170px 128px 128px;
$carnivine: -0px -55298px 128px 128px;
$pichu: -0px -55426px 128px 128px;
$pidgeot: -0px -55554px 128px 128px;
$pidgeotto: -0px -55682px 128px 128px;
$pidgey: -0px -55810px 128px 128px;
$pidove: -0px -55938px 128px 128px;
$carracosta: -0px -56066px 128px 128px;
$pikachu: -0px -56194px 128px 128px;
$piloswine: -0px -56322px 128px 128px;
$pineco: -0px -56450px 128px 128px;
$pinsir: -0px -56578px 128px 128px;
$carvanha: -0px -56706px 128px 128px;
$plusle: -0px -56834px 128px 128px;
$politoed: -0px -56962px 128px 128px;
$poliwag: -0px -57090px 128px 128px;
$poliwhirl: -0px -57218px 128px 128px;
$poliwrath: -0px -57346px 128px 128px;
$ponyta: -0px -57474px 128px 128px;
$poochyena: -0px -57602px 128px 128px;
$cascoon: -0px -57730px 128px 128px;
$alakazam: -0px -57858px 128px 128px;
$caterpie: -0px -57986px 128px 128px;
$primeape: -0px -58114px 128px 128px;
$alomomola: -0px -58242px 128px 128px;
$probopass: -0px -58370px 128px 128px;
$psyduck: -0px -58498px 128px 128px;
$pumpkaboo-average: -0px -58626px 128px 128px;
$pupitar: -0px -58754px 128px 128px;
$purrloin: -0px -58882px 128px 128px;
$chandelure: -0px -59010px 128px 128px;
$pyroar: -0px -59138px 128px 128px;
$quagsire: -0px -59266px 128px 128px;
$chansey: -0px -59394px 128px 128px;
$quilladin: -0px -59522px 128px 128px;
$qwilfish: -0px -59650px 128px 128px;
$raichu: -0px -59778px 128px 128px;
$charizard: -0px -59906px 145px 128px;
$ralts: -0px -60034px 128px 128px;
$rampardos: -0px -60162px 128px 128px;
$rapidash: -0px -60290px 128px 128px;
$charmander: -0px -60418px 128px 128px;
$charmeleon: -0px -60546px 128px 128px;
$chatot: -0px -60674px 128px 128px;
$altaria: -0px -60802px 159px 128px;
$amaura: -0px -60930px 128px 128px;
$ambipom: -0px -61058px 128px 128px;
$chespin: -0px -61186px 128px 128px;
$relicanth: -0px -61314px 128px 128px;
$remoraid: -0px -61442px 128px 128px;
$amoonguss: -0px -61570px 128px 128px;
$reuniclus: -0px -61698px 165px 128px;
$rhydon: -0px -61826px 128px 128px;
$rhyhorn: -0px -61954px 128px 128px;
$rhyperior: -0px -62082px 128px 128px;
$riolu: -0px -62210px 128px 128px;
$roggenrola: -0px -62338px 128px 128px;
$roselia: -0px -62466px 128px 128px;
$roserade: -0px -62594px 128px 128px;
$rotom: -0px -62722px 128px 128px;
$rufflet: -0px -62850px 128px 128px;
$sableye: -0px -62978px 128px 128px;
$salamence: -0px -63106px 151px 128px;
$ampharos: -0px -63234px 128px 128px;
$sandile: -0px -63362px 128px 128px;
$sandshrew: -0px -63490px 128px 128px;
$sandslash: -0px -63618px 128px 128px;
$sawk: -0px -63746px 128px 128px;
$sawsbuck: -0px -63874px 128px 128px;
$scatterbug: -0px -64002px 128px 128px;
$chimecho: -0px -64130px 128px 128px;
$scizor: -0px -64258px 128px 128px;
$scolipede: -0px -64386px 128px 128px;
$scrafty: -0px -64514px 128px 128px;
$scraggy: -0px -64642px 128px 128px;
$scyther: -0px -64770px 128px 128px;
$seadra: -0px -64898px 128px 128px;
$seaking: -0px -65026px 128px 128px;
$sealeo: -0px -65154px 128px 128px;
$seedot: -0px -65282px 128px 128px;
$seel: -0px -65410px 128px 128px;
$seismitoad: -0px -65538px 128px 128px;
$sentret: -0px -65666px 128px 128px;
$chinchou: -0px -65794px 128px 128px;
$chingling: -0px -65922px 128px 128px;
$seviper: -0px -66050px 128px 128px;
$sewaddle: -0px -66178px 128px 128px;
$sharpedo: -0px -66306px 128px 128px;
$cinccino: -0px -66434px 128px 128px;
$shedinja: -0px -66562px 128px 128px;
$shelgon: -0px -66690px 128px 128px;
$shellder: -0px -66818px 128px 128px;
$shellos: -0px -66946px 128px 128px;
$shelmet: -0px -67074px 128px 128px;
$shieldon: -0px -67202px 128px 128px;
$shiftry: -0px -67330px 163px 128px;
$shinx: -0px -67458px 128px 128px;
$shroomish: -0px -67586px 128px 128px;
$shuckle: -0px -67714px 128px 128px;
$shuppet: -0px -67842px 128px 128px;
$sigilyph: -0px -67970px 128px 128px;
$silcoon: -0px -68098px 128px 128px;
$simipour: -0px -68226px 128px 128px;
$simisage: -0px -68354px 128px 128px;
$simisear: -0px -68482px 128px 128px;
$skarmory: -0px -68610px 128px 128px;
$skiddo: -0px -68738px 128px 128px;
$skiploom: -0px -68866px 128px 128px;
$skitty: -0px -68994px 128px 128px;
$skorupi: -0px -69122px 128px 128px;
$skrelp: -0px -69250px 128px 128px;
$skuntank: -0px -69378px 128px 128px;
$clamperl: -0px -69506px 128px 128px;
$clauncher: -0px -69634px 128px 128px;
$sliggoo: -0px -69762px 128px 128px;
$slowbro: -0px -69890px 128px 128px;
$slowking: -0px -70018px 128px 128px;
$slowpoke: -0px -70146px 128px 128px;
$slugma: -0px -70274px 128px 128px;
$slurpuff: -0px -70402px 128px 128px;
$smeargle: -0px -70530px 128px 128px;
$smoochum: -0px -70658px 128px 128px;
$sneasel: -0px -70786px 128px 128px;
$clawitzer: -0px -70914px 128px 128px;
$snorlax: -0px -71042px 128px 128px;
$snorunt: -0px -71170px 128px 128px;
$snover: -0px -71298px 128px 128px;
$snubbull: -0px -71426px 128px 128px;
$solosis: -0px -71554px 128px 128px;
$solrock: -0px -71682px 128px 128px;
$spearow: -0px -71810px 128px 128px;
$spewpa: -0px -71938px 128px 128px;
$spheal: -0px -72066px 128px 128px;
$spinarak: -0px -72194px 128px 128px;
$spinda: -0px -72322px 128px 128px;
$spiritomb: -0px -72450px 128px 128px;
$spoink: -0px -72578px 128px 128px;
$spritzee: -0px -72706px 128px 128px;
$squirtle: -0px -72834px 128px 128px;
$anorith: -0px -72962px 128px 128px;
$staraptor: -0px -73090px 200px 128px;
$staravia: -0px -73218px 137px 128px;
$starly: -0px -73346px 128px 128px;
$starmie: -0px -73474px 128px 128px;
$staryu: -0px -73602px 128px 128px;
$steelix: -0px -73730px 128px 128px;
$stoutland: -0px -73858px 128px 128px;
$stunfisk: -0px -73986px 128px 128px;
$stunky: -0px -74114px 128px 128px;
$sudowoodo: -0px -74242px 128px 128px;
$clefable: -0px -74370px 128px 128px;
$sunflora: -0px -74498px 128px 128px;
$sunkern: -0px -74626px 128px 128px;
$surskit: -0px -74754px 128px 128px;
$swablu: -0px -74882px 128px 128px;
$swadloon: -0px -75010px 128px 128px;
$swalot: -0px -75138px 128px 128px;
$clefairy: -0px -75266px 128px 128px;
$zorua: -0px -75394px 128px 128px;
$swellow: -0px -75522px 183px 128px;
$swinub: -0px -75650px 128px 128px;
$swirlix: -0px -75778px 128px 128px;
$swoobat: -0px -75906px 128px 128px;
$sylveon: -0px -76034px 128px 128px;
$taillow: -0px -76162px 128px 128px;
$talonflame: -0px -76290px 173px 128px;
$tangela: -0px -76418px 128px 128px;
$tangrowth: -0px -76546px 155px 128px;
$tauros: -0px -76674px 128px 128px;
$teddiursa: -0px -76802px 128px 128px;
$tentacool: -0px -76930px 128px 128px;
$tentacruel: -0px -77058px 128px 128px;
$cleffa: -0px -77186px 128px 128px;
$cloyster: -0px -77314px 128px 128px;
$throh: -0px -77442px 128px 128px;
$arbok: -0px -77570px 128px 128px;
$timburr: -0px -77698px 128px 128px;
$tirtouga: -0px -77826px 128px 128px;
$togekiss: -0px -77954px 128px 128px;
$togepi: -0px -78082px 128px 128px;
$togetic: -0px -78210px 128px 128px;
$torchic: -0px -78338px 128px 128px;
$torkoal: -0px -78466px 128px 128px;
$arcanine: -0px -78594px 128px 128px;
$combee: -0px -78722px 128px 128px;
$combusken: -0px -78850px 128px 128px;
$toxicroak: -0px -78978px 128px 128px;
$tranquill: -0px -79106px 136px 128px;
$trapinch: -0px -79234px 128px 128px;
$conkeldurr: -0px -79362px 140px 128px;
$trevenant: -0px -79490px 128px 128px;
$tropius: -0px -79618px 206px 128px;
$trubbish: -0px -79746px 128px 128px;
$corphish: -0px -79874px 128px 128px;
$tympole: -0px -80002px 128px 128px;
$corsola: -0px -80130px 128px 128px;
$abomasnow: -0px -80258px 145px 128px;
$tyranitar: -0px -80386px 128px 128px;
$tyrantrum: -0px -80514px 128px 128px;
$tyrogue: -0px -80642px 128px 128px;
$tyrunt: -0px -80770px 128px 128px;
$umbreon: -0px -80898px 128px 128px;
$unfezant: -0px -81026px 152px 128px;
$cradily: -0px -81154px 128px 128px;
$ursaring: -0px -81282px 128px 128px;
$cranidos: -0px -81410px 128px 128px;
$vanillish: -0px -81538px 128px 128px;
$vanillite: -0px -81666px 128px 128px;
$vanilluxe: -0px -81794px 128px 128px;
$vaporeon: -0px -81922px 128px 128px;
$venipede: -0px -82050px 128px 128px;
$venomoth: -0px -82178px 136px 128px;
$venonat: -0px -82306px 128px 128px;
$venusaur: -0px -82434px 128px 128px;
$vespiquen: -0px -82562px 128px 128px;
$vibrava: -0px -82690px 132px 128px;
$crawdaunt: -0px -82818px 128px 128px;
$victreebel: -0px -82946px 128px 128px;
$archen: -0px -83074px 128px 128px;
$vileplume: -0px -83202px 128px 128px;
$croagunk: -0px -83330px 128px 128px;
$vivillon: -0px -83458px 128px 128px;
$volbeat: -0px -83586px 128px 128px;
$volcarona: -0px -83714px 143px 128px;
$voltorb: -0px -83842px 128px 128px;
$vullaby: -0px -83970px 128px 128px;
$vulpix: -0px -84098px 128px 128px;
$wailmer: -0px -84226px 128px 128px;
$wailord: -0px -84354px 164px 128px;
$walrein: -0px -84482px 128px 128px;
$wartortle: -0px -84610px 128px 128px;
$watchog: -0px -84738px 128px 128px;
$weavile: -0px -84866px 128px 128px;
$weedle: -0px -84994px 128px 128px;
$weepinbell: -0px -85122px 128px 128px;
$crobat: -0px -85250px 131px 128px;
$archeops: -0px -85378px 128px 128px;
$whirlipede: -0px -85506px 128px 128px;
$whiscash: -0px -85634px 128px 128px;
$whismur: -0px -85762px 128px 128px;
$wigglytuff: -0px -85890px 128px 128px;
$wingull: -0px -86018px 144px 128px;
$wobbuffet: -0px -86146px 128px 128px;
$woobat: -0px -86274px 128px 128px;
$wooper: -0px -86402px 128px 128px;
$wormadam-plant: -0px -86530px 128px 128px;
$wurmple: -0px -86658px 128px 128px;
$wynaut: -0px -86786px 128px 128px;
$xatu: -0px -86914px 128px 128px;
$zoroark: -0px -87042px 128px 128px;
$crustle: -0px -87170px 128px 128px;
$yanma: -0px -87298px 128px 128px;
$yanmega: -0px -87426px 155px 128px;
$yveltal: -0px -87554px 185px 128px;
$zangoose: -0px -87682px 128px 128px;
$zapdos: -0px -87810px 152px 128px;
$zebstrika: -0px -87938px 128px 128px;
$cryogonal: -0px -88066px 128px 128px;
$zigzagoon: -0px -88194px 128px 128px;
$dragalge: -0px -88322px 133px 130px;
$aurorus: -0px -88452px 128px 138px;
$swanna: -0px -88590px 128px 140px;
$xerneas: -0px -88730px 110px 146px;
$zygarde: -0px -88876px 136px 148px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
  @return nth($sprite, 3);
}
@function sprite-height($sprite) {
  @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
.icon {
  background-image: url("../images/sprite.png");
}