.generation-nav {
  & {
    margin: 0 13%;
  }

  &__list-item {
    display: flex;
    padding: 1em 1em 1em 0;
  }

  &__link {
    @extend %typeface__fjalla;
    align-items: center;
    color: black;
    display: flex;
    font-size: 1.5rem;
    letter-spacing: 0.15em;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid black;
    padding: 5px;
  }

  // &__link.red-blue {
  //   background: pokemon(fire);
  //   background: linear-gradient(
  //     to right bottom, 
  //     pokemon(fire),
  //     lighten(pokemon(water), 5)
  //     );
  // }

  // &__link.gold-silver {
  //   background: pokemon(electric);
  //   background: linear-gradient(
  //     to right bottom, 
  //     pokemon(electric),
  //     pokemon(steel) 60%
  //     );
  // }
}