.header {
  & {
    display: flex;
    height: 15vh;
    justify-content: center;
    width: 100%;
  }

  &__heading-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 13%;
  }

  &__heading {
    @extend %typeface__fjalla;
    display: inline-block;
    font-size: 1.5rem;
    letter-spacing: 1em;
    text-align: center;
    text-transform: uppercase;
    // width: 100%;
  }

  &__sub-heading {
    @extend %typeface__lora; 
    font-size: 1rem;
    letter-spacing: 0.025em;
  }
}