.pokeball {
  & {
    border-radius: 50%;
    border: 3px solid white;
    height: em(50px);
    margin: 0 auto 1rem;
    position: relative;
    width: em(50px);

    @media screen and (min-width: em(1000px)) {
      animation: back-and-forth 4s infinite;
      width: em(70px);
      height: em(70px);
    }
  }

  &__inner-circle {
    -moz-animation: spinning ease-in-out 5s infinite;
    -o-animation: spinning ease-in-out 5s infinite;
    animation: spinning ease-in-out 5s infinite;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
    height: em(15px);
    left: em(15px);
    position: absolute;
    top: em(14px);
    width: em(15px);

    @media screen and (min-width: em(1000px)) {
      animation: twitchyX 4s infinite;
      width: em(22px);
      height: em(22px);
      left: em(21px);
      top: em(21px);
    }
  }

  &__line {
    border-top: 2px solid white;
    position: relative;
    top: em(20px);
    width: 100%;

    @media screen and (min-width: em(1000px)) {
      top: em(32px);
      animation: wobbling 2s infinite alternate;
    }
  }
}

.ground {
  @media screen and (min-width: 1000px) {
    border-top: 2px dotted white;
    width: 20%;
    display: block;
    margin: -17px auto 0;
  }
}

@keyframes wobbling {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(-10deg); }
  10% { transform: rotate(0deg); }
  90% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes back-and-forth {
  0% { transform: translateX(0%); }
  4% { transform: translateX(-12%); }
  10% { transform: translateX(-10%); }
  95% { transform: translateX(0%); }
  99% { transform: translateX(3%); }
  100% { transform: translateX(0%); }
}

@keyframes twitchyX {
  0% { transform: translateX(0%) }
  8% { transform: translateX(-55%) }
  75% { transform: translateX(-50%) }
  90% { transform: translateX(-30%) }
  100% { transform: translateX(0%) }
}

// FOR MOBILE DEVICES (Just cuz)
@keyframes spinning {
    0%   { transform: translateX(-70%); }
    25%  { transform: translateX(75%); }
    50%  { transform: translateX(-70%); }
    75%  { transform: translateX(75%); }
    100% { transform: translateX(-70%); }
}

@-moz-keyframes spinning {
    0%   { transform: translateX(-70%); }
    25%  { transform: translateX(75%); }
    50%  { transform: translateX(-70%); }
    75%  { transform: translateX(75%); }
    100% { transform: translateX(-70%); }
}

@-o-keyframes spinning {
    0%   { transform: translateX(-70%); }
    25%  { transform: translateX(75%); }
    50%  { transform: translateX(-70%); }
    75%  { transform: translateX(75%); }
    100% { transform: translateX(-70%); }
}